* {
    padding: 0px;
    margin: 0px;
}
#body {
    background: #1D1F20;
    height: 100%;
}
main {
    height: fit-content;
}
.containerConvertidor {
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    width: 60%;
    margin-left: 350px;
    height:500px;
    box-shadow: 11px 12px 16px -5px rgba(0,0,0,0.41);
    -webkit-box-shadow: 11px 12px 16px -5px rgba(0,0,0,0.41);
    -moz-box-shadow: 11px 12px 16px -5px rgba(0,0,0,0.41);
}
.containerTitulo {
    display: flex;
    justify-content: center;
    margin: 10px;
}
#containerCambio {
  padding-top: 40px;
}
.textoNav {
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-weight: bold;
    letter-spacing: 6px;
}
.textoInput1 {
    margin-bottom: 10px;
    margin-left: 30px;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;

}
.textoInput2 {
    margin-bottom: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;

}
.textoConversor {
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
}
.btnAgregar {
    margin-bottom: 70px;
}
#columnaMonedas {
    justify-content: center;
    height: 100px;
}
#columnaCambio {
    justify-content: center;
    height: 100px;
}

input {
    border-radius: 4px;
    width: 150px;
    height: 40px;
    text-align: center;
}
select {
    border-radius: 4px;
    height: 30px;
}
footer {
    background-color: rgb(59, 59, 59);
    bottom: 0;
    width: 100%;
    color: white;
  }
#cotizador {
    font-family: 'Bebas Neue', cursive;
    text-transform: uppercase;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    text-align: center;
    letter-spacing: 1px;
    font-size: 15px;
    background-color:#1D1F20 ;
    border-color: rgba(226, 19, 19, 0.568);
    margin-top: 30px;
}
#cotizador:hover {
    background-color: rgba(226, 19, 19, 0.568);
    transition: 5s;
}
#resultado {
    position: relative;
    display: none;
    font-size: 40px;
    width: fit-content;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    height: 55px;
    margin-top: 40px;

    }
#resultadoTexto {
    font-family: 'Bebas Neue', cursive;
    color: white;
    letter-spacing: 20px;
    font-size: 35px;
}

#muestraCambio {
    text-align: left;
    font-size: 20px;
    width: 300px;
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
    
  }
  #selectorMoneda{
    border-radius: 4px;
    width: 250px;
    height: 40px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    letter-spacing: 2px;
    margin-left: 30px;
  }
  #selectorMoneda:hover{
    box-shadow: 10px 10px 30px -3px rgba(0,0,0,0.87);
    transition: 2s;
  }
  #valorPeso:hover {
      border-color: black;
      box-shadow: 2px black;
  }
  #inputNuevaMoneda{
      width: 200px;
  }
  #inputNuevaMoneda:hover{
    box-shadow: 10px 10px 30px -3px rgba(0,0,0,0.87);
    transition: 3s;
}
#inputNuevoSimbolo{
    width: 200px;
}
#inputNuevoSimbolo:hover{
  box-shadow: 10px 10px 30px -3px rgba(0,0,0,0.87);
  transition: 3s;
}
  #inputNuevoValor{
      width: 200px;
  }
  #inputNuevoValor:hover{
    box-shadow: 10px 10px 30px -3px rgba(0,0,0,0.87);
    transition: 3s;
}

  #inputNuevoPais{
      width: 200px;
  }
  #inputNuevoPais:hover{
    box-shadow: 10px 10px 30px -3px rgba(0,0,0,0.87);
    transition: 3s;
}
  #formAgregar {
    padding: 0px;
    margin-top: 0px;
    display: none;
  }
footer {
    height: 25px;
    bottom: 0px;;
    margin-top: 20px;
}
.copyright {
    background-color: rgb(41, 41, 41);
    border-top: 1px solid white;
    color: white;
}
.copyrightText{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
    font-size: 16px;
    
}
#columnaCambio.col {
    display: flex;
    justify-content: center;
}
#containerForm {
    margin-left: 10px;
    width: 700px;
}

#box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 570px;
  color: white;
  margin-top: 100px;
}
.gradient-border {
  --borderWidth: 5px;
  background: #1D1F20;
  position: relative;
  border-radius: var(--borderWidth);
}
.gradient-border:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  border-radius: calc(2 * var(--borderWidth));
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}
@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

#container
{
	width: 100%;
	height: 100%;
	background-color: black;
}

#container .effect-text-container
{
	position: absolute;
	top: 100px;
    left: 450px;
}

#container .effect-text-container h1
{
	font-family: 'Bebas Neue', cursive;
	font-weight: 900;
	font-size: 60px;
	letter-spacing: 15px;
	color: white;
	display: table-cell;
}
#cryptoForm {
    display: none;
    margin-left: -40px;
}
#selectCrypto{
    border-radius: 4px;
    width: 250px;
    height: 40px;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 40px;
}
#resultadoTextoCrypto {
    font-family: 'Bebas Neue', cursive;
    color: white;
    letter-spacing: 5px;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 20px;
}
div #containerForm .row {
    height: 40px;
}
.btnMostrarCryptos {
    margin-top: 30px;
    margin-left: -20px;
}
.btnAgregarMostrar {
    margin-top: 30px;
}



.calculator {
    padding: 20px;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(145, 145, 145, 0.2);
    border-radius: 1px;
    width: 250px;
    height: 420px;
    position: absolute;
    top: 300px;
  }
  
  .inputCalculator {
    border: 1px solid #ddd;
    border-radius: 1px;
    height: 60px;
    padding-right: 15px;
    padding-top: 10px;
    text-align: right;
    margin-right: 6px;
    font-size: 30px;
    overflow-x: auto;
    transition: all .2s ease-in-out;
    width: 200px;
    color: white;
    font-family: 'Bebas Neue', cursive;
  }
  
  .inputCalculator:hover {
    border: 1px solid #bbb;
    -webkit-box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  }
  
  .buttons {}
  .operators {}
  
  .operators div {
    display: inline-block;
    border: 1px solid #bbb;
    border-radius: 1px;
    width: 45px;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    margin: 20px 4px 10px 0;
    cursor: pointer;
    background-color: #ddd;
    font-family: 'Bebas Neue', cursive;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
  }
  
  .operators div:hover {
    background-color: #ddd;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    border-color: #aaa;
  }
  
  .operators div:active {
    font-weight: bold;
  }
  
  .leftPanel {
    display: inline-block;
  }
  
  .numbers div {
    display: inline-block;
    border: 1px solid #ddd;
    border-radius: 1px;
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 10px;
    margin: 10px 4px 10px 0;
    cursor: pointer;
    background-color: #f9f9f9;
    font-family: 'Bebas Neue', cursive;
    transition: border-color .2s ease-in-out, background-color .2s, box-shadow .2s;
  }
  
  .numbers div:hover {
    background-color: #f1f1f1;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(133, 54, 54, 0.384);
    box-shadow: 0px 1px 4px 0px rgba(165, 50, 50, 0.2);
    border-color: #bbb;
  }
  
  .numbers div:active {
    font-weight: bold;
  }
  
  div.equal {
    display: inline-block;
    border-radius: 1px;
    width: 40px;
    text-align: center;    
    padding: 110px 10px;
    margin: 10px 6px 10px 0;
    vertical-align: top;
    cursor: pointer;
    color: #FFF;
    background-color: #DC3545;
    transition: all .2s ease-in-out;
  }
  
  div.equal:hover {
    background-color: #6d1a22;
    -webkit-box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  }
  
  div.equal:active {
    font-weight: bold;
  }